*{
    margin: 0%;
    padding: 0%;
}
.div-1{
     border: 2px solid gray;
     width: 28%;
     height: 400px;
     margin: auto;
     margin-top: 60px;
     border-radius: 20px;
}
.text-1{
    font-size: 30px;
    margin-bottom:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.div-2{
     text-align: left;
     padding-left: 15%;
}

.color-1{
    height: 25px;
    width:180px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 10px;

}

.but-1{
    background-color: lightgreen;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
}


.but-2{
    /* border: 1px solid white; */
     margin-left: 10px;
     margin-top: 15px;
     height: 27px;
     width: 60px;
     background-color: red;
     border-radius: 10px;
     border: none;
     color: white;
     font-size: 15px;
}



